    <ul class="docs-nav">
      <li><strong>Getting Started</strong></li>
      <li><a href="#welcome" class="cc-active">Welcome</a></li>
      <li><a href="#benefits" class="cc-active">Benefits</a></li>
      <li><a href="#features" class="cc-active">Features</a></li>
      <li><a href="#license" class="cc-active">License</a></li>
      <li class="separator"></li>
      <li><strong>Customization</strong></li>
      <li><a href="#view_type" class="cc-active">View Type</a></li>
      <li><a href="#animation_style" class="cc-active">Animation Styles</a></li>
      <li><a href="#bars_text" class="cc-active">Bars Text</a></li>
      <li><a href="#vote_counter" class="cc-active">Vote Counter</a></li>
      <li><a href="#rating_icons" class="cc-active">Rating Icons</a></li>
      <li><a href="#rating_titles" class="cc-active">Rating Titles</a></li>
      <li><a href="#bar_colors" class="cc-active">Bar Colors</a></li>
    </ul>
